---
const { date, title, href, desc, tags, isPin } = Astro.props;
import PostLink from './PostLink';
---

<a
	class="cursor-pointer border-none flex flex-col gap-2 rounded-lg px-4 py-8 w-full ring-0 hover:bg-gray-800/60 hover:shadow-sm hover:shadow-gray-700 transition-all"
	href={href}
	target="_self"
>
	<div class="items-center flex justify-center relative">
		<div class="text-white text-xl font-bold">{title}</div>
		{
			isPin ? (
				<div class="text-white absolute right-0">
					<img src="/svg/pin.svg" class="object-fill w-5 h-5 stroke-white fill-white white" />
				</div>
			) : null
		}
	</div>
	<div class="self-center flex justify-start items-center gap-2">
		<div class="text-gray-200 text-sm px-2 bg-sky-900/30 rounded-md">{date}</div>
		{tags && <div class="text-gray-200 text-sm px-2 bg-sky-900/30 rounded-md">{tags}</div>}
	</div>
	<div class="text-gray-400 mt-2">{desc}</div>
	<!-- <PostLink title={title} href={href} client:load /> -->
</a>
